.container1 {
    background-image: url('/public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAF0ED;
    background-origin: border-box;
}

.topCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    flex-wrap: wrap;
}

.topSelling {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 80px;
    background-color: white;
    padding: 10px;
    height: auto;
    border-radius: 7px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.top>p {
    font-size: 1.3rem;
}

.topSellingCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topSellingTitle > p {
    font-size: 1.3rem;
}

 .gamesRight1 {
    display: flex;
    align-items: center;
    color: #FFA500;
    font-size: 14px;
    cursor: pointer;
}

.digitalGamesCards1 {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 20px 10px;
} 

.topSellingCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.topSellingCard > img {
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
    cursor: pointer;
}

.topSellingCard>p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.topSellingCard>s {
    color: lightslategray;
    font-size: 14px;
}

.gaming1 {
    margin-left: 50px;
    margin-right: 50px;
}

.gaming1 > img {
    margin-top: 40px;
    background-color: #fff;
    border-bottom: 15px;
    padding: 10px;
}