.cart {
    height: 100vh;
    width: 100%;
    background-color: #F3F3F3;
}

.cartBanner {
    display: flex;
    align-items: center;
}

.cartCard {
    margin-left: 50px;
    padding: 10px;
    width: 940px;
   
}

.cartCount {
    margin-top: 10px;
    height: 50px;
    background-color: #fff;
    color: #333333;
    border-radius: 7px;
}

.cartCount > p {
    padding: 10px;
    font-size: 22px;
}

.itemCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
}

.itemCardLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.itemContainer {
    display: flex;
    align-items: center;
}

.itemContainer > p {
    margin-top: -80px;
    margin-left: 10px;
    font-size: 16px;
}


.itemContainer > img {
    height: 100px;
    margin: 10px 0;
}

.itemCardLeft > span {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 55px;
    color: #FFA500;
}

.itemCardLeft>span > button {
    border: none;
    color: #FFA500;
    background-color: #fff;
    font-size: 15px;
}


.itemCardAdd {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 80px;
   margin-right: 15px;
}

.itemCardAdd > button {
    border-radius: 7px;
    border: none;
    background-color: #ED7014;
    color: #fff;
    padding: 5px;
}

.itemCardAdd > span {
    color: #333333;
    margin: 0 5px;
}


.amountCard {
    width: 269px;
    margin-right: 80px;
    margin-top: -85px;
    
}

.cartSummary {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 30px;
    background-color: #fff;
    color: #333333;
    font-size: 14px;
}

.cartSummary > p {
    padding: 10px;
}

.subTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 5px;
    height: 50px;
    padding: 10px;
}

.subTotal > p {
    font-size: 16px;
}

.subTotal > h2 {
    color: #333333;
    font-size: 22px;
}

.amountCheckout {
    display: grid;
    place-content: center;
    margin-top: 5px;
    background-color: #fff;
    padding: 10px;
    height: 50px;
}

.amountCheckout > button {
    display: grid;
    place-items: center;
    border: none;
    background-color: #ED7014;;
    color: #fff;
    font-size: 14px;
    padding: 10px 45px;
    border-bottom: 7px;
}