.footer {
    color: white;
    background-color: #333333;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 80px;
}

.footerTopRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.footerSocials {
    display: flex;
    flex-direction: column;
}

.jumiaApp {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.jumiaApp > img {
    object-fit: contain;
    height: 40px;
    color: white;
}

.jumiaAppDesc > h2 {
    font-size: 16px;
}

.jumiaAppDesc > p {
    font-size: 14px;
}

.appStores {
    display: flex;
    flex-direction: row;

}


.appStores > img {
    object-fit: contain;
    height: 80px;
    width: 120px;
}