.menuSidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 80px;
}

.menuLinks {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin: 10px;
   top: 0;
   padding: 10px;
   height: 386px;
   width: 196.56px;
   border-radius: 5px;
   background-color: white;
}

.menuLinks > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 4px;
    font-size: 14px;
    padding-top: 10px;
}

.menuSlider {
    border-radius: 5px;
}

.menu-left{
    margin-left: 20px;
    height: 386px;
    border-radius: 5px;
}
.menu-leftCard{
    height: 183px;
    background-color: white;
    width: 250px;
    font-size: 14px;
}

.menu-leftCardDesc {     
   display: flex;
   align-items: center;
   
}

.menuIcon {
margin-top: 10px;
}


.menuIcon > img {
    font-size: 14px;
    margin: 0 10px;
}



.menuDesc > h2{
    font-size: 14px;
}

.menu-leftOffer {
    display: flex;
    align-items: center;
    height: 183px;
    background-color: white;
    width: 250px;
    margin-top: 12px;
    place-content: center;
    border-radius: 5px;
    background-color: #FFA500;
}

.menu-leftOffer > h1 {
    font-size: 120px;
    color: white;
    font-weight: 700;
}

.menu-leftOffer > p {
    font-size: 40px;
    color: white;
    margin-left: 5px;
    font-weight: 500;
}
